<html>
<head>
    	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body onload="checkMatch()">  
    <script type="text/javascript">
    function checkMatch(){
        var btns = document.getElementsByName('choice');
        if (document.getElementById('won').value === "true") {
            btns.forEach(function(entry) {
                entry.disabled = true;
            });
            console.log("win");
        }
        else {
            btns.forEach(function(entry) {
                entry.disabled = false;
            });
            console.log("win");
        }
        
        console.log(btns);
    }
    </script>

    <div class="wrap">
    <div class="wrap1">
        <h1 id=win><%= state%></h1>
        <a href='/'><input type="submit" value="Home"></a>
    </div>
        <div class="wrap2">
			<form method="post" action="play_game">
            <input type="hidden" name="nom" id="nom" value="<%= nom%>">
            <input type="hidden" name="won" id="won" value="<%= won%>">
				<table>
					<%board.board.each_with_index do |n,i|%>
                        <% if n != "X" && n != "O"%>
                            <% n = "&nbsp;"%>
                            <% elsif n == "X" %>
                                <% n = "<img src='/images/fzombieX.png'/>"%>
                            <% elsif n == "O" %>
                                <% n = "<img src='/images/zombie-v.png'/>"%>
                        <% end%>
						<% if i == 0 || i == 3 || i == 6 %>
						<tr>
						<% end%>
						<td>
							<button id="clack" value='<%= i + 1 %>' name="choice"><%= n%></button>
						</td>
						<% if i == 2 || i == 5 || i == 8 %>
						</tr>
						<% end%>
					<% end%>
				</table>
			</form>
		</div>

        <div class="wrap3">
         
            <form method="post" action="play_replay">
            <input type="submit" value="Reset Board">
            </form>
        </div>
        </div>
</body>
</html>